.Container {
    // height: 428px;
    height: calc(100vh - 366px);
    overflow: auto;
}

.Container::-webkit-scrollbar {
    width: 10px;
}

.Container::-webkit-scrollbar-thumb {
    border-radius: 10px;
    background-color: rgb(160, 160, 160);
}

.hideScroll {
    // height: 400px;
    overflow: auto;
}

.hideScroll::-webkit-scrollbar {
    display: none;
}

.tableContainer {
    // max-height: 384px;
    // max-height: calc(100vh - 446px);
    max-height: calc(100vh - 336px);
    th{
        font-size: 14px !important;
        font-weight: 400 !important;
        min-width: 114px !important;
        padding: 3px !important;
    }
}

.tableContainer::-webkit-scrollbar {
    height: 10px;
    width: 10px;
}

.tableContainer::-webkit-scrollbar-thumb {
    border-radius: 10px;
    background-color: rgb(160, 160, 160);
}