.headerTitle {
    color: #00589A;
}

.companyDetails {
    display: flex;
    margin: 20px 0;
}

.CompanyContactInfo {
    margin: 5px 0;
    .CompanyContact {
        width: 23%;
        margin: 16px;
        &:nth-child(1) {
            margin-left: 0;
        }
    }
}

.PrimaryServices {
    p {
        color: #00589A;
    }
    .CheckboxSection {
        display: flex;
        flex-wrap: wrap;
        margin: 8px 0px 8px 0px;
        // justify-content: space-between;
        justify-content: flex-start;
        .Checkbox {
            width: 23%;
            margin: 16px 16px 10px 16px;
        
        }
    }
}

// checkbox media querries
// @media only screen and (min-width:1280px){
//     .Checkbox {
//         width: 23% !important;
//     }
// }

// @media only screen and (min-width:1536px){
//     .Checkbox {
//         width: 23% !important;
//     }
// }

// @media only screen and (min-width:1745px){
//     .Checkbox {
//         width: 25% !important;
//     }
// }

// @media only screen and (min-width:1920px){
//     .Checkbox {
//         width: 25% !important;
//     }
// }

.companyEmailTF{
    width: 23%;
    margin: 16px !important;
}
@media only screen and (min-width:1280px){
    .companyEmailTF{
        margin: 16px 16px 16px 0px !important;
    }
}

@media only screen and (min-width:1536px){
    .companyEmailTF{
        margin: 16px 16px 16px 10px !important;
    }
}

@media only screen and (min-width:1745px){
    .companyEmailTF{
        margin: 16px 16px 16px 16px !important;
    }
}

@media only screen and (min-width:1920px){
    .companyEmailTF{
       margin: 16px 16px 16px 16px !important;
    }
}

.bottomBtnSection {
    display: flex;
    justify-content: flex-end;
    margin: 20px 0;
}

.idTextField{
    input{
        padding: 0 13px;
        // font-size: 0.9vw;
        font: inherit;
        height:40px;
        
    }
}

.modal{
    width: 40%;
    background-color: aliceblue;
    position: absolute;
    left:30%;
    top:30%;
    outline: none;
    text-align: center;
    padding: 20px;
}

.modalContainer {
    display: flex;
    text-align: center;
    justify-content: center;
    align-items: center;
    height: 100vh;

    .modalSize {
        height: 200px;
        width: 30%;
        background-color: #fff;
        // padding: 20px;
        border-radius: 5px;

        h3 {
            color: #00589A;
        }

        .header {
            text-align: center;
            height: 42px;
            display: flex;
            justify-content: center;
            align-items: center;
            border-radius: 5px;
            background: gainsboro;
            button {
                padding: 0 5px 0 0;
            }
        }

        .section {
            h3 {
                font-size: 16px;
                margin: 8px 0 0 0;
                padding: 15px 0px 10px 0px;
            }
        }

        .footerSection {
            display: flex;
            margin: 10px 0;
            justify-content: flex-end;
        }
        .popupBtn{
            padding-top: 15px;
        }
    }
}