.headerTitle {
    color: #00589A;
}

.companyDetails {
    display: flex;
    margin: 20px 0;
}

.Regulatory {
    p {
        color: #00589A;
    }
    .RegulatorySection {
        display: flex;
        margin: 6px 0;
        .CheckBox {
            width: 48%;
        }
    }
}

.bottomBtnSection {
    display: flex;
    justify-content: flex-end;
    margin: 20px 0;
}

.idTextField {
    width: 8%;
    input {
        padding: 0 13px;
        height: 40px;
    }
}

.modalContainer {
    display: flex;
    text-align: center;
    justify-content: center;
    align-items: center;
    height: 100vh;
    .modalSize {
        height: 190px;
        width: 30%;
        background-color: #fff;
        // padding: 20px;
        border-radius: 5px;
        h3 {
            color: #00589A;
            font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
        }
        .header {
            text-align: center;
            height: 42px;
            display: flex;
            justify-content: center;
            align-items: center;
            border-radius: 5px;
            background: gainsboro;
            button {
                padding: 0 5px 0 0;
            }
        }
        .section {
            display: block;
            font-size: 16px;
            width: 70%;
            margin: 0 auto;
            line-height: 25px;
            span {
                font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
                display: inline-block;
                margin-top: 20px;
            }
        }
        .popupBtn {
            padding-top: 15px;
            button {
                margin-right: 10px;
            }
        }
    }
}