.HeaderBottomBorder {
    text-align: center;
    border: 1px solid #fff !important;
}

.HeaderColBorder {
    text-align: center;
    border-right: 1px solid #fff !important;
}

.SectionHeader {
    font-weight: 600;
    background-color: #f9ffd5;
    text-align: center !important;
    font-weight: 600 !important;
}

.subHeader {
    font-weight: 600;
    background-color: #f3f3f3;
    text-align: left !important;
    font-weight: 500 !important;
}

.companyDetails {
    display: flex;
    margin: 20px 0;
}

.idTextField {
    width: 8%;
    input {
        padding: 0 13px;
        height: 40px;
    }
}
.modalContainer {
    display: flex;
    text-align: center;
    justify-content: center;
    align-items: center;
    height: 100vh;

    .modalSize {
        height: 190px;
        width: 30%;
        background-color: #fff;
        // padding: 20px;
        border-radius: 5px;

        h3 {
            color: #00589A;
        }

        .header {
            text-align: center;
            height: 42px;
            display: flex;
            justify-content: center;
            align-items: center;
            border-radius: 5px;
            background: gainsboro;

            button {
                padding: 0 5px 0 0;
            }

        }

        .section {
            display: block;
            font-size: 16px;
            width: 70%;
            margin: 0 auto;
            line-height: 25px;

            span {
                display: inline-block;
                margin-top: 20px;
            }
        }

        .popupBtn {
            padding-top: 15px;
        }
    }
}